<h1>Activate your account</h1>
<p>You have created an account on our site, please click on the link below to activate it</p>
<p><a href="{{ absolute_url(path('activation', {'activationToken': token})) }}">Activate my account</a> </p>