<h1>Resetting your password</h1>
<p>You have requested a reset of your password, click on this link to modify it</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': token})) }}">Change my password</a> </p>