<h1>Réinitialisation de votre mot de passe</h1>
<p>Vous avez demandé un reset de votre mot de passe, cliquez sur ce lien pour le modifier</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': token})) }}">Modifier mon mot de passe</a> </p>