.floatnav {
    position: fixed;
    bottom: 8px;
    right: 0px;
}

.floatnav-bottom {
    display: none;
}

.my-floatnav {
    margin-top: 22px;
}

a {
    color: inherit;
}

.bg-dark.navbar-dark .navbar-nav .active > .nav-link,
.bg-dark.navbar-dark .navbar-nav .nav-link:focus,
.bg-dark.navbar-dark .navbar-nav .nav-link:hover {
    color: white !important;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    height: 100vh;
    background: #fff url("../images/fond.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.lead {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.navarrow {
    font-size: xx-large;
    color: deepskyblue;
}

@media (orientation: portrait) {
    .jumbotron {
        background: url("../images/fond-portrait.png") no-repeat center center;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(3rem * 2);
        padding-bottom: calc(3rem * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    color: white;
}

footer p {
    margin-bottom: 0px;
    margin-top: 4px;
}

.box-shadow {
    box-shadow: .0rem .25rem .75rem rgba(0, 0, 0, .05);
}

#action-icons {
    position: absolute;
    right: 300px;

}

.photo-list {
    background-color: rgba(255, 255, 255, 0.5);
}

.btn {
    flex-flow: row-reverse;

}

.img-thumbnail {
    max-height: 200px;
    object-fit: contain;
    width: 100%;
}

.entete .position-absolute {
    right: 0;
}
.fa-trash-alt{
    color: red;
}

.fa-edit{
    color: green;
}


